.imgbox {
    width: 100px;
    height: auto;
    position: relative;
    margin-left:100px;
}
.imgbox img {
    width: 100%;
    height: 100%;
}
.imgbox p {
    font-size:18px;
    color: red;
    position: absolute;
    cursor:pointer;
    right:8px;
    top:5px;
}
